html{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #1c1e29;
}

.nav {
    background-color: #33354b;
    border-radius: 4px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
    padding: .5em 1em;
    width:80%;
   
}

.weather {
    color: #ff4473;
}
.nav-middle>span {
    font-size: 30px;
}
.champ{
    color:#0ff;;
}
*, ::after, ::before {
    box-sizing: border-box;
}

* {
    font-family: Inconsolata,monospace;
}
a {
    color: #ededed;
    text-decoration: none;
    background-color: transparent;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card{
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
}

.card .face{
    border: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transform:perspective(500px) rotateY(0deg);
}

.card .face.front{
    display: inline;
    line-height: 10px;
    position: absolute;
    background: #33354b;
    backface-visibility: hidden;
    text-align: center;
    margin: auto;

}
.card .face.back{
   
    backface-visibility: hidden;
    background: #33354b;
    color: #fff;
    transform:perspective(500px) rotateY(180deg);
    font-size: 20px;
    padding: 15px;
    margin: auto;
    
    
    
}
ul{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
   

}
ul li{
    line-height: 50px;
}

.card:hover .face.front{
    transform:perspective(500px) rotateY(180deg);
   
}

.card:hover .face.back{
    transform:perspective(500px) rotateY(360deg);
    
}

.card .face h2{
   
    text-transform: uppercase;
    transform: perspective(500px) translateZ(50px);
}
.idd{
    color: #ff4473;
}
.det{
    
   
    color: #1670f0;
    font-size: 25px;
    
    padding: 5px;
    text-decoration: none;
    background:linear-gradient(to right,#7f7fd5,#86a8e7,#91eae4);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    animation: shadow-pulse 1.5s infinite;
}

@keyframes shadow-pulse
{
    0%{
        box-shadow: 0 0 0 0px rgb(4, 230, 247);
    }

    100%{
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
        
    }
}
 
/* style="
    color: #ff4473; */

.lft{
    color: #ff4473;
    font-style: normal;
    font-weight: bold;
    
}

ul li{
    font-style: italic;
}

h3{
    font-size: 40px;
}
#ig{
    
    width:130px;
    height: 130px;
}