{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/result.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Res</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-left">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <i class="fas fa-home" style="
                    font-size: 22px;"></i>
                </a>
            </div>

        </div>
        <div class="nav-middle">
            <span class="weather">Weather</span>
            <span class="champ">Champ</span>           
        </div>
        <div class="nav-right">
            <a target="_blank">
                <i class="fas fa-cloud"></i>           
            </a>
           
        </div>
    </nav><br>
<div class="card">
    <div class="face front">
        <h3>{{name}}</h3>
        <h3>{{country}} <br><br><br>
        <figure class="image is-100x100">
            <img id="ig" src="http://openweathermap.org/img/w/{{ icon }}.png" alt=" weatherImage">
        </figure>
    </h3><br><br>
       
            <a class="det" >Details</a>       
        
    </div>
    <div class="face back" >  
        <ul class="lst">
       <li><span class="lft">Status:</span> {{info}}</li> 
       <li><span class="lft">Description:</span> {{des}}</li>
        <li><span class="lft"> Temperature:</span> {{temp}} &#8451</li>
        <li> <span class="lft">Wind Speed:</span> {{wind}} mph </li>
        <li><span class="lft"> Pressure:</span> {{p}} hPa </li>
        <li> <span class="lft">Humidity:</span> {{hum}} % </li>
        </ul>
    </div>
</div>
</body>
</html>